<div class='sculpt'>
  <h1>Digital Media</h1>
  <hr>
  <div class='row'>
    <div class='col-md-12'>
    <%= link_to image_tag("/images/digital/rustink.jpg", :class => 'digital_thumb'), '/images/digital/rustink.jpg', :data => { :colorbox => true } %>
    </div>
  </div>
  <hr>
  <div class='row'>
    <div class='col-md-12'>
    <%= link_to image_tag("/images/digital/JEPEG WATER.jpg", :class => 'digital_thumb'), '/images/digital/JEPEG WATER.jpg', :data => { :colorbox => true } %>
    </div>
  </div>
  <hr>
  <div class='row'>
    <div class='col-md-12'>
    <%= link_to image_tag("/images/digital/Darkness.jpg", :class => 'digital_thumb'), '/images/digital/Darkness.jpg', :data => { :colorbox => true } %>
    </div>
  </div>
  <hr>
  <div class='row'>
    <div class='col-md-12'>
    <%= link_to image_tag("/images/digital/snakeedited.jpg", :class => 'digital_thumb'), '/images/digital/snakeedited.jpg', :data => { :colorbox => true } %>
    </div>
  </div>
  <hr>
  <div class='row'>
    <div class='col-md-12'>
    <%= link_to image_tag("/images/digital/Shady 2.jpg", :class => 'digital_thumb'), '/images/digital/Shady 2.jpg', :data => { :colorbox => true } %>
    </div>
  </div>
  <hr>
  <div class='row'>
    <div class='col-md-12'>
    <%= link_to image_tag("/images/digital/IMG_9662.jpg", :class => 'digital_thumb'), '/images/digital/IMG_9662.jpg', :data => { :colorbox => true } %>
    </div>
  </div>
  <hr>
  <div class='row'>
    <div class='col-md-12'>
    <%= link_to image_tag("/images/digital/kieranlogo.jpg", :class => 'digital_thumb'), '/images/digital/kieranlogo.jpg', :data => { :colorbox => true } %>
    </div>
  </div>
  <hr>
</div>