
  <div class='sculpt'>
  <h1>Sculpture</h1>
  <hr>
  <!-- concrete -->
    <div class='row'>
      <div class='col-md-6 '>
     <%= link_to image_tag("/images/sculpt/concrete 2.JPG", :class => 'img-thumbnail'), '/images/sculpt/concrete 2.JPG', :data => { :colorbox => true } %>
      </div>
      <div class='col-md-6 '>
     <%= link_to image_tag("/images/sculpt/concrete1.JPG", :class => 'img-thumbnail'), '/images/sculpt/concrete1.JPG', :data => { :colorbox => true } %>
      </div>
    </div>
    <hr>
    <!-- speakers -->
    <div class='row'>
      <div class='col-md-6'>
     <%= link_to image_tag("/images/sculpt/speaker2.JPG", :class => 'img-thumbnail'), '/images/sculpt/speaker2.JPG', :data => { :colorbox => true } %>
      </div>
      <div class='col-md-6 '>
      <%= link_to image_tag("/images/sculpt/speaker1.JPG", :class => 'img-thumbnail'), '/images/sculpt/speaker1.JPG', :data => { :colorbox => true } %>
      </div>
    </div>
    <hr>
    <!-- tvs -->
    <div class='row'>
      <div class='col-md-6'>
     <%= link_to image_tag("/images/sculpt/tv1.jpg", :class => 'img-thumbnail'), '/images/sculpt/tv1.jpg', :data => { :colorbox => true } %>
      </div>
      <div class='col-md-6 '>
      <%= link_to image_tag("/images/sculpt/tv2.jpg", :class => 'img-thumbnail'), '/images/sculpt/tv2.jpg', :data => { :colorbox => true } %>
      </div>
    </div>
    <hr>
    <!-- table -->
    <div class='row'>
      <div class='col-md-6'>
     <%= link_to image_tag("/images/sculpt/table1.JPG", :class => 'img-thumbnail'), '/images/sculpt/table1.JPG', :data => { :colorbox => true } %>
      </div>
      <div class='col-md-6'>
     <%= link_to image_tag("/images/sculpt/table2.JPG", :class => 'img-thumbnail'), '/images/sculpt/table2.JPG', :data => { :colorbox => true } %>
      </div>
    </div>
    <hr>
    <!-- lamp -->
    <div class='row'>
      <div class='col-md-6 '>
     <%= link_to image_tag("/images/sculpt/lamp1.JPG", :class => 'img-thumbnail'), '/images/sculpt/lamp1.JPG', :data => { :colorbox => true } %>
      </div>
      <div class='col-md-6 '>
     <%= link_to image_tag("/images/sculpt/lamp2.jpg", :class => 'img-thumbnail'), '/images/sculpt/lamp2.jpg', :data => { :colorbox => true } %>
      </div>
    </div>
    <hr>
    <!-- log -->
    <div class='row'>
      <div class='col-md-6 '>
     <%= link_to image_tag("/images/sculpt/log1.JPG", :class => 'img-thumbnail'), '/images/sculpt/log1.JPG', :data => { :colorbox => true } %>
      </div>
      <div class='col-md-6 '>
     <%= link_to image_tag("/images/sculpt/log2.JPG", :class => 'img-thumbnail'), '/images/sculpt/log2.JPG', :data => { :colorbox => true } %>
      </div>
    </div>
  </div>
</div>
