<!DOCTYPE html>
<html>
<head>
  <title>Kieran Cormack</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %> 
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body class='background'>
  <%= render 'layouts/header' %>

      <%= yield %>

</body>
</html>
